bcrypt
blinker
click
colorama
Flask
Flask-Bcrypt
Flask-JWT-Extended
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
MarkupSafe
PyJWT
SQLAlchemy
typing_extensions
Werkzeug
amadeus
pyngrok
python-dotenv
